*.docx diff=pandoc
*.xla diff=xltrail
*.xla merge=xltrail
*.xlam diff=xltrail
*.xlam merge=xltrail
*.xls diff=xltrail
*.xls merge=xltrail
*.xlsb diff=xltrail
*.xlsb merge=xltrail
*.xlsm diff=xltrail
*.xlsm merge=xltrail
*.xlsx diff=xltrail
*.xlsx merge=xltrail
*.xlt diff=xltrail
*.xlt merge=xltrail
*.xltm diff=xltrail
*.xltm merge=xltrail
*.xltx diff=xltrail
*.xltx merge=xltrail